# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual env
# =========================
.venv/
venv/
env/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Local data
# =========================
data/
*.parquet
*.json

# =========================
# Env / secrets
# =========================
.env
.env.*
*.pem
*.key

# =========================
# Spark / temp
# =========================
spark-warehouse/
metastore_db/
*.crc

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build / dist
# =========================
dist/
build/
*.egg-info/

# =========================
# macOS weird files
# =========================
.AppleDouble
.LSOverride

# =========================
# Misc
# =========================
*.swp
*.swo